<div id="contact" class="section">
  <div class="container">
    <h1>C<span>o</span>ntact</h1>
    <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.592765656476!2d-122.41533690000006!3d37.776145899999946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809cf9138fb3%3A0xe0ef8336585de62!2s1328+Mission+St+%239!5e0!3m2!1sen!2sus!4v1403297925581" width="380" height="250" frameborder="0" style="border:0"></iframe>
    </div>
    <div id="contact_form">
      <form action="https://phonio.wufoo.com/forms/znvg2wt0aga43n/#public" method="post" target="_blank">
        <input type='hidden' name='redirect_to' value='{{ site.url }}' />
        <input type='hidden' name='idstamp' value='YoD6bkru3yK9ZQC0K+aEk9VTSE6ksTjRihGFu1mMxxI=' />
        <p>Have questions or comments?</p>
        <div><input type="text" name="Field1" placeholder="Name" required/></div>
        <div>
          <input type="text" name="Field2" placeholder="Email" class="half" required/>
          <input type="text" name="Field6" placeholder="Phone" class="half" required/>
        </div>
        <div><textarea name="Field4" placeholder="Questions or comments"></textarea></div>
        <input type="submit" value="Submit"/>
      </form>
    </div>
    <div id="location">
      <h2>Phonio, Inc.</h2>
      <h3>Address:</h3>
      <p>1328 Mission Street, Suite 9<br/>San Francisco, CA 94103<br/><br/>info@phonio.com</p>
      <a href="/terms-of-service">Terms of Service</a> - <a href="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="clear"></div>
  </div>
</div>
