<div id="faq" class="section">
  <div class="title">
    <h1>FAQ</h1>
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="container">
    <div id="questions">
      {% for questions in site.data.basic_service_faq %}
        <div class="question">
          <h2>{{ questions.question }}</h2>
          <p>{{ questions.answer }}</p>
        </div>
      {% endfor %}

      {% for questions in site.data.premium_service_faq %}
        <div class="question">
          <h2>{{ questions.question }}</h2>
          <p>{{ questions.answer }}</p>
        </div>
      {% endfor %}

      <h1>Other Questions</h1>
      <p>Have comments or questions? Drop us a line. (<a href="mailto:info@phonio.com">info@phonio.com</a>)</p>
    </div>
  </div>
</div>
