<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{ site.title }} | {{ page.title }}</title>

  <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>

  <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/assets/js/froogaloop2.min.js"></script>
  <script type="text/javascript" src="/assets/js/global.js"></script>
</head>
