<div id="header">
  <div class="container">
    <div id="logo">
      <a href="/"><img src="/assets/images/logo.png"/><span>Phonio</span></a>
    </div>
    <ul id="links">
      <li><a href="/#splash" data-hash="#splash">Home</a></li>
      <li><a href="/#service" data-hash="#service">Service</a></li>
      <li><a href="/#team" data-hash="#team">Team</a></li>
      <li><a href="/#faq" data-hash="#faq">FAQ</a></li>
      <li><a href="/#contact" data-hash="#contact">Contact</a></li>
    </ul>
  </div>
</div>
