<div id="service" class="section">
  <div class="container">
    <h1>S<span>e</span>rvice</h1>
    <h2>Mobile-based proprietary platform enables influencers to deliver audio content to mass audiences</h2>
    <ul>
      <li class="odd">Celebrity to fan</li>
      <li class="even">Employer to employee</li>
      <li class="odd">Philanthropy/non-profit to donor</li>
      <li class="even">Government to citizen</li>
      <li class="odd">Political Candidate to supporter</li>
      <li class="even">Business to investor</li>
      <div class="clear"></div>
    </ul>
  </div>
</div>
