<div id="team" class="section">
  <div class="container">
    <h1>Te<span>a</span>m</h1>
    {% for member in site.data.team %}
      <div class="team_member" id="{{ member.name | downcase | replace: ' ', '-' }}">
        <div class="title">
          <img src="/assets/images/{{ member.image }}">
          <h2>{{ member.name }}</h2>
          <h3>{{ member.title }}</h3>
        </div>
        <div class="description">
          {{ member.bio }}
        </div>
      </div>
    {% endfor %}
    <div class="clear"></div>
  </div>
</div>
